body {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
}

#title {
  font-size: 100px;
  font-family: 'Permanent Marker', cursive;
}
body {
  background-color: lightgreen;
}
button {
  height: 100px;
  width: 200px;
  margin: 25px;
}


